body {
  font-family: Arial;
  background:#f5f5f5;
}
table {
  width:100%;
  border-collapse:collapse;
}
td,th {
  padding:8px;
  border:1px solid #ddd;
}
tr:hover {
  background:#f0f0f0;
}